*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --primary-800: #28a4da;
  --primary-900: #009ddf;
  --black: #222;
  --white: #fff;
  --red-light: #fff0f0;
  --red-dark: #da2828;

  --grey-50: #f6f6f6;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #444444;
  --grey-600: #9a9a9a;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 0.75rem;
  --border-radius-4: 1rem;

  --shadow-1: 0 2px 2px 0px rgba(154, 154, 154, 0.6);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  --active-button: var(--primary-800);
}

body {
  background: var(--grey-50);
  color: var(--grey-900);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

a {
  text-decoration: none;
}
